*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 75px;
    background-color: rgba(44,62,80,255);
    width: 100%;
}

.content, .content-title{
    
    width: 100%;
}

header .content{
    width: 100%;
    height: 75px;
}

.white-title{
    color: white;
    text-align: center;
}

.white-hr{
    border: 3px solid white;
}

#about, #contact-us{
    padding: 30px 0px;
}

.content-title{
    height: 150px;
}

#jumbotron, #about{
    background-color: rgba(26,188,156,255);
}

.avatar-image{
    width: 20%;

}

.img-first-box{
    width: 100%;
    height: 100%;
}

.star{
    display: flex;
    justify-content: center;
    
}

.star-text{
    padding:0px 20px
}

.star-text i{
    font-size: 30px;
}

.hr-star{
    width: 200px;
    height: 100%;
    align-items: center;
}

.hr-black{
    width: 100%;
    border: 3px solid black;

}

#about .content{
    height: 200px;
}

footer{
    background-color: rgba(58,84,109,255);
    padding: 30px 0px 0px 0px;
}

footer .content{
    height: 200px;
}

.bottom-bar{
    background-color: rgba(44,62,80,255);
    padding: 20px 0px;
}

.bottom-bar .content{
    height: 100px;
}

.text-about{
    font-size: 20px;
    color: white;
}

.icon-foot{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 5px;
}
.white{
    color: white;
}

.colonna{
    display: flex;
    flex-direction: column;
    padding-left: 40%;
}
